<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      >

  <targets>
    <target xsi:type="File" 
            name="logFile" 
            fileName="./log/${level}_${shortdate}_log.log" 
            layout="[${longdate}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}]${message}"
            keepFileOpen="false" 
            maxArchiveFiles="10"
            archiveNumbering="Sequence"
            archiveAboveSize="1048576"
            encoding="utf-8"
            />

    <target xsi:type="File"
            name="logAllFile"
            fileName="./log/${shortdate}_log.log"
            layout="[${longdate}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}]${message}"
            keepFileOpen="false"
            maxArchiveFiles="10"
            archiveNumbering="Sequence"
            archiveAboveSize="1048576"
            encoding="utf-8"
            />

    <target xsi:type="Console" name="logConsole" />
    
    <!-- OutputDebugString target -->
    <target xsi:type="OutputDebugString" name="outputDebugString" layout="${longdate} ${logger} ${message}" />
    
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    
  </targets>

  <!-- log -->
  <rules>
    <!--
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="logFile" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
    <logger name="*" minlevel="Info" writeTo="logFile" />
    
    <logger name="*" minlevel="trace" writeTo="outputDebugString" />
   -->
    <logger name="*" minlevel="Trace" writeTo="logFile,logAllFile,OutputDebugString" />
   
    
  </rules>
</nlog>